header{
width:90%;
margin:0 auto;
margin-top:20px;
text-align: center;
border-left:3px solid orange;
border-right:3px solid orange;
padding:5px;
background-color:#f1f1f1;
}

.typing-demo {
   margin:0 auto;
margin-top:30px;
  width: 100%;
  animation: typing 2s steps(25), blink .5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-family: monospace;
  font-size: 20px;
}
@keyframes typing {
  from {
    width: 0
  }
}
    
@keyframes blink {
  60% {
    border-color: transparent
  }
}
.container{
margin-top:40px;
width:100%;
margin-bottom:20px;
}
.wrapper{
display:grid;
grid-template-columns:1fr 1fr;
width:100%;
margin:0 auto;
grid-gap:10px;
}
.row{
width:100%;
margin:0 auto;

}

#m{
width:70%;
margin:0 auto;
}

footer{
margin:0 auto;
bottom:0;
position:fixed;
background-color:orange;
padding:10px;
width:100%;

}
.row img{
width:100%;
height:250px;
filter:brightness(0.3);
transition:0.2s;
box-shadow:0px 0px 3px;
}
.row img:hover{
filter:brightness(1);
}
@media screen and (min-width:571px){
{}
.wrapper{
grid-template-columns:1fr 1fr 1fr 1fr;
}
.row img{
width:100%;
height:500px;
filter:brightness(0.4);
transition:0.2s;

}
header{
width:70%;
margin:0 auto;
margin-top:20px;
text-align: center;
border-left:3px solid orange;
border-right:3px solid orange;
padding:5px;
background-color:#f1f1f1;
}
.typing-demo {
   margin:0 auto;
margin-top:10px;
  width: 50%;
  animation: typing 2s steps(25), blink .5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-family: monospace;
  font-size: 20px;
}
#m{
width:30%;
}
}


